.row {
    border-bottom: 1px solid #ddd;
    height: 60px;
    font-size: 14px
}

@media only screen and (max-width: 809px) {
    .row {
        height: 50px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative
}

body.theme-dark .row {
    border-color: rgba(255, 255, 255, .1)
}